---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="My Name is Alena Rosen"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
	Hello! 
	</p>

	<p>
		My name is Alena Rosen. 
	</p>

</Layout>
